
/* skills */
.certificates{
    display: grid;
    
    grid-template-columns:  1fr 1fr;
    /* background-color: black; */
}



/* grid items for lynda */
.lynda {
    grid-column: 1/2;
    background-color: cadetblue;
    display: grid;
    grid-template-rows: 50px 400px 30px;
}
.lynda p {
    font-weight: 900;
    font-size: 20px;
    grid-row: 1\ 2;
    /* background-color: black; */
    
}
.lynda img {
    height: 100%;
    width: 100%;
    margin-top: 20px;
    grid-row: 2/3;
    size: cover;
}
/* lynda part for small phone */
@media screen and (max-width:500px) {

    .lynda img {
        height: 100%;
        width: 100%;
        /* grid-column: 1/3; */
    }
    .lynda {
        grid-column: 1/3;
    }
}

.lynda .button{
    background: orangered;
    border-radius: 5px;
    padding: 5px;
    font-weight: 800;
    grid-row: 3/4;
    grid-column: 1;

     
}
.lynda .button  a {
    text-decoration: none;
    color: white;
    font-weight: 700;

}


/* grid items for solo learn :)*/
.solo {
    grid-column: 2/3;
    background-color: rgb(66, 163, 115);
    display: grid;
    grid-template-rows: 50px 400px 30px;
}
.solo p {
    font-weight: 900;
    font-size: 20px;
    grid-row: 1\ 2;
    /* background-color: black; */
    
}
.solo img {
    height: 100%;
    width: 100%;
    margin-top: 20px;
    grid-row: 2/3;
    size: cover;
}
.solo .button{
    background: orangered;
    border-radius: 5px;
    padding: 5px;
    font-weight: 800;
    grid-row: 3/4;
    grid-column: 1;
}
.solo .button  a {
    text-decoration: none;
    color: white;
    font-weight: 700;
}
/* solo part for small screens:( */
@media screen and (max-width:500px) {

    .solo img {
        /* height: 80vw; */
        height: 100%;
        width: 100%;
    }
    .solo {
        grid-column: 1/3;
        grid-row: 2/3;
        /* background-color: black; */
    
    }


}


/* Education table */
.education {
    background-color: rgb(161, 76, 240);
    align-content: center;
}

.educationtable{
    border-style: double;
    border-color: black;
    margin: 0px;
    align-content: center;
}
.qualificationHeading th{
    border-style: solid;
    border-color: black;
    background-color: blue;
    color: grey;
    margin: 0px;
}
.qualificationwhiti td {
    background-color: brown;
    border-style: solid;
    color: ivory;
    border-color: black;
    margin: 0px;
}
.qualificationsavi td {
    background-color: indigo;
    border-style: solid;
    color: ivory;
    border-color: black;
    margin: 0px;
}



/* Marksheet section  */
.marksheet h1{
    color: ghostwhite;
}
/* .marksheet p {
    
} */

.resultpic{
    display: flex;
    /* flex-direction: column; */

}
.resultpic img{
    width: 50%;    
    /* height: 100%; */
}
@media screen and (max-width:500px) {

.resultpic{
    display: flex;
    flex-direction: column;

}
.resultpic img{
    width: 100%;    
    height: 100%;
}

}