*{
    margin: opx;
    padding: 0px;
    box-sizing: border-box;
    /* background-color: linear-gradient (orange,black); */
}
body{
    background: rgb(30,31,48);
    z-index: -1;
    min-width: 300px;
    color: white;
}


/* navbar */
.navBar {
    margin-top: -10px;
    margin-left: -10px;
    margin-right: -10px;
    border-right: 10px;
    list-style-type: square;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    background-color: rgb(235,235,235);
    min-height: 4vh;
    padding: 20px;
    padding-bottom: 30px;
    width: 100%;

    
}
.navBar img {
    z-index: -1;
    position: absolute;
}
.navBar li a {
    margin: px;
    padding: 0.8vh;
    text-decoration: none;
    color: black;
    position: sticky;

    
}
.navBar li a:hover{
    background-color: #3F4448;
    border-radius: 5px;
}
.button  {
    background-color: orangered;
}

.button a {
    text-decoration: none;
    color: white;
    font-weight: 800;
}
footer {
    font-size: .75rem;
    font-weight: 600;
    background: #ebebeb;
    color: darkblue;
    text-align: center;
    padding: 10px;
    margin: 0;
}

@media screen and (max-width:700px) {
    .navBar {
        flex-direction: column;
        height: 20vh;
        border: 0px;
        
        /* background-color: yellowgreen; */
    }
    .navBar li a {
        margin: px;
        padding: 0.8vh;
        text-decoration: none;
        padding: 0px;
    }


}

